# Sandbox for datawork.

In [1]:
import pandas as pd
import numpy as np

from pathlib import Path

In [3]:
CWD_PATH = Path('.').resolve()
DATA_PATH = CWD_PATH / 'data'
DATA_PATH

WindowsPath('E:/VSCodeProjects/fbaquant23/s1.2ap/data_teamwork/data')

In [4]:
price_df = pd.read_csv(
    DATA_PATH / 'price.csv'
)

In [5]:
price_df

,PERMNO,CUSIP,Ticker,mDate,ClosePrice,RecDate,Delist,Cap,OpenPrice,OpenCap,mRet,mRet_divx,Distribution,Volume,Shares,ex_div_date,Dividend,divpr,divshr
0,10001,36720410,EGAS,1990-01-31,9.9375,1990-01-31,N,1.015613e+04,10.1250,1.034775e+04,-0.018519,-0.018519,0,3.525500e+04,1022.0,NaN,NaN,NaN,NaN
1,10001,36720410,EGAS,1990-02-28,9.8750,1990-02-28,N,1.009225e+04,9.9375,1.015613e+04,-0.006289,-0.006289,0,1.486200e+04,1022.0,NaN,NaN,NaN,NaN
2,10001,36720410,EGAS,1990-03-30,9.8750,1990-03-30,N,1.014163e+04,9.8750,1.009225e+04,0.012821,0.000000,1,1.272700e+04,1027.0,1990-03-12,0.125,0.0,0.0
3,10001,36720410,EGAS,1990-04-30,9.8750,1990-04-30,N,1.014163e+04,9.8750,1.014163e+04,0.000000,0.000000,0,1.664500e+04,1027.0,NaN,NaN,NaN,NaN
4,10001,36720410,EGAS,1990-05-31,9.7500,1990-05-31,N,1.001325e+04,9.8750,1.014163e+04,-0.012658,-0.012658,0,2.788500e+04,1027.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3040852,93436,88160R10,TSLA,2022-08-31,275.6100,2022-08-31,N,8.636157e+08,891.4500,9.311106e+08,-0.072489,-0.072489,1,7.322218e+08,3133470.0,2022-08-25,NaN,2.0,2.0
3040853,93436,88160R10,TSLA,2022-09-30,265.2500,2022-09-30,N,8.376595e+08,275.6100,8.636157e+08,-0.037589,-0.037589,0,1.296550e+09,3158000.0,NaN,NaN,NaN,NaN
3040854,93436,88160R10,TSLA,2022-10-31,227.5400,2022-10-31,N,7.185149e+08,265.2500,8.376595e+08,-0.142168,-0.142168,0,1.732585e+09,3157752.0,NaN,NaN,NaN,NaN
3040855,93436,88160R10,TSLA,2022-11-30,194.7000,2022-11-30,N,6.148143e+08,227.5400,7.185149e+08,-0.144326,-0.144326,0,1.882424e+09,3157752.0,NaN,NaN,NaN,NaN
3040856,93436,88160R10,TSLA,2022-12-30,123.1800,2022-12-30,N,3.889719e+08,194.7000,6.148143e+08,-0.367334,-0.367334,0,2.941704e+09,3157752.0,NaN,NaN,NaN,NaN

In [17]:
len(price_df[['CUSIP', 'mDate']])

3040857

In [23]:
len(set([(cusip, mDate) for cusip, mDate in price_df[['CUSIP', 'mDate']].values]))

3012454

In [14]:
len(price_df[['PERMNO', 'mDate']])

3040857

In [24]:
len(set([(permno, mDate) for permno, mDate in price_df[['PERMNO', 'mDate']].values]))

3012454

In [8]:
header_df = pd.read_csv(
    DATA_PATH / 'header.csv'
)

In [9]:
header_df

,PERMNO,Start,End,CUSIP,CUSIP9,Exchange,Class,Ticker,Name
0,78736,1997-08-05,1997-08-18,00002130,000021303,Q,NaN,ANAFF,A & A INTERNATIONAL IND INC
1,25881,1970-11-13,1978-06-22,00003210,000032102,A,NaN,AE,A & E PLASTIK PAK INC
2,10015,1985-01-22,1986-07-08,00016510,000165100,Q,NaN,AMFD,A & M FOOD SERVICES INC
3,11307,1987-05-08,1993-10-14,00020910,000209106,Q,NaN,SODA,A & W BRANDS INC
4,14945,2019-08-09,2019-10-25,00030710,000307108,N,NaN,AAC,A A C HOLDINGS INC
...,...,...,...,...,...,...,...,...,...
36969,14789,2016-08-01,2016-12-08,Y8977Y10,Y8977Y100,N,NaN,RIGP,TRANSOCEAN PARTNERS LLC
36970,23201,2022-07-08,2022-12-30,Y9233510,Y92335101,Q,NaN,USEA,UNITED MARITIME CORP
36971,91372,2008-06-27,2011-07-01,Y9369110,Y93691106,Q,NaN,VRGY,VERIGY LTD
36972,14858,2016-08-01,2017-09-14,Y9384M10,Y9384M101,N,NaN,VTTI,V T T I ENERGY PARTNERS LP
36973,15857,2015-12-25,2022-12-30,Y9530810,Y95308105,Q,NaN,WVE,W A V E LIFE SCIENCES LTD

In [10]:
ratio_df = pd.read_csv(
    DATA_PATH / 'ratio.csv'
)

In [11]:
ratio_df

,gvkey,permno,adate,qdate,public_date,CAPEI,BM (Book to Market),EVEBITDA,POER,POER_dil,...,INTCOV,ATURN,SOIC,SOE,SOWC,PBR,PEG,DIVY,TICKER,cusip
0,1004,54594,1989-05-31,1989-11-30,1990-01-31,30.082,0.377,10.685,18.862,NaN,...,5.215,1.191,2.025,2.464,2.991,2.346,0.864,1.52,AIR,00036110
1,1004,54594,1989-05-31,1989-11-30,1990-02-28,29.724,0.377,10.685,18.638,NaN,...,5.215,1.191,2.025,2.464,2.991,2.318,0.853,1.54,AIR,00036110
2,1004,54594,1989-05-31,1989-11-30,1990-03-31,28.746,0.377,10.685,17.964,NaN,...,5.215,1.191,2.025,2.464,2.991,2.242,0.822,1.60,AIR,00036110
3,1004,54594,1989-05-31,1990-02-28,1990-04-30,19.616,0.438,10.901,12.949,NaN,...,5.002,1.188,1.927,2.451,2.754,1.585,0.632,2.22,AIR,00036110
4,1004,54594,1989-05-31,1990-02-28,1990-05-31,19.276,0.438,10.901,12.725,NaN,...,5.002,1.188,1.927,2.451,2.754,1.557,0.621,2.26,AIR,00036110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1856807,349972,15642,2021-12-31,2022-06-30,2022-08-31,NaN,1.411,-2.991,-1.217,-1.217,...,NaN,NaN,NaN,NaN,NaN,0.684,NaN,NaN,INDP,45339J10
1856808,349972,15642,2021-12-31,2022-06-30,2022-09-30,NaN,1.411,-2.991,-1.043,-1.043,...,NaN,NaN,NaN,NaN,NaN,0.587,NaN,NaN,INDP,45339J10
1856809,349972,15642,2021-12-31,2022-06-30,2022-10-31,NaN,1.411,-2.991,-0.884,-0.884,...,NaN,NaN,NaN,NaN,NaN,0.497,NaN,NaN,INDP,45339J10
1856810,349972,15642,2021-12-31,2022-09-30,2022-11-30,NaN,1.545,-2.138,-1.084,-1.084,...,NaN,NaN,NaN,NaN,NaN,0.546,NaN,NaN,INDP,45339J10
1856811,349972,15642,2021-12-31,2022-09-30,2022-12-31,NaN,1.545,-2.138,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.434,NaN,NaN,INDP,45339J10